.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    text-align: center;
}

.actions {
    position: absolute;
    top: 140px;
    right: 50px;
}

.actions button {

    padding: 10px 25px;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    background-color: #6A0DAD;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.actions button:hover {
    background-color: #550f88;
}