@media only screen and (min-width:0px)and (max-width:767px) {
    .sidebar {
        font-size: 6px !important;

    }

}

.sidebar {
    padding: 10px;
    background-color: #f4f4f4;
    height: 100%;
    width: 15%;
    font-weight: 500;
}

.sidebar-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    margin-bottom: 10px;
}

.sidebar-hover-dashboard {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    background-color: #006ed7;

}

.sidebar-hover-projects {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    background-color: #006ed7;
}

.sidebar-hover-workboard {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    background-color: #006ed7;
}

.sidebar-hover-create-task {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    background-color: #006ed7;
}