.container {
    max-width: 50%;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.305);
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
}

.container h2 {
    color: #757983;
}

.details {
    margin-left: 20px;
}

.details p strong {
    color: #006ED7;
}