/* src/index.css or src/App.css */

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header, .footer {
  background-color: #006ed7;
  color: white;
  padding: 10px;
  z-index: 1000;
}

.main-content {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 20%;
  background-color: #006ed7;
  color: white;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  z-index: 900;
}

.content {
  flex: 1;
  padding: 20px;
}


.main-content{
  background-color: #dddddd;
}